Flask==2.3.3
sqlite3  
os  
random  
string  
bakong_khqr==1.0.0  
qrcode[pil]==7.4.2
Pillow==10.0.1  
io 
datetime 
pytz==2023.3
threading  
time  
base64  
requests==2.31.0
logging 
gunicorn
